@model IEnumerable<Sistema_Reserva_Alquiler_Habi.Models.Categoria>

@{
    ViewBag.Title = "Categoria";
}

<<p>
    Esta sirve pagina para reporte de todas las categorias disponibles en el Hotel.
    Cada cambio se vera reflejado aqui.
</p>
<table class="display" id="table_id">

    <thead>
        <tr>
            <th>Descripcion</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.precioCategoria)
                </td>

            </tr>
        }
    </tbody>
</table>





@section scripts {

    <script>
        $(document).ready(function () {
            $('#table_id').DataTable();
        });

    </script>
}
