
@{
    ViewBag.Title = "Nosotros";
}

<h2>Nosotros somos amigues hace 4 años</h2>



    <div class="container">

        <div class="row ">
            <div class="text-center g-pad-bottom">



                <div class="row go-marg">
                    <div class="col-md-4 col-sm-4">
                        <div class="panel panel-default">

                            <div class="panel-body">
                                <h4 class="adjst" align="center"> <b> Maria Cuenca </b> </h4>
                                <p>
                                    <img src="~/Content/img/Bios/Mari.PNG" height="300" width="330" />

                                    <b>Le gusta vivir el momento</b>
                                    <br />
                                    Sabe plaguearse mucho, 23 años, de Santa Elena - Cordillera
                                    Actualmente vive en San Lorenzo, estudiante del 4to año de Ingenieria en Informatica
                                    <br />
                                    Es muy bruja
                                </p>

                            </div>
                        </div>
                    </div>



                    <div class="col-md-4 col-sm-4">
                        <div class="panel panel-default">

                            <div class="panel-body">
                                <h4 class="adjst" align="center"> <b> Patricia Lezcano </b> </h4>
                                <p>
                                    <img src="~/Content/img/Bios/Mabe.jpeg" height="300" width="330" />
                                    <b>Aqui la bio</b>
                                    <br />
                                    Describirse
                                    <br />

                                </p>

                            </div>
                        </div>
                    </div>




                    <div class="col-md-4 col-sm-4">
                        <div class="panel panel-default">

                            <div class="panel-body">
                                <h4 class="adjst" align="center"> <b>Edgar Gonzalez </b> </h4>
                                <p>
                                    <img src="~/Content/img/Bios/Edgar.jpeg" height="300" width="330" />

                                    <b>Aqui la bio</b>
                                    <br />
                                    Describirse
                                    <br />

                                </p>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="row go-marg">
                <div class="col-md-4 col-sm-4">
                    <div class="panel panel-default">

                        <div class="panel-body">
                            <h4 class="adjst" align="center"> <b> Angel Aquino </b> </h4>
                            <p>
                                <img src="~/Content/img/Bios/Angel.jpeg" height="300" width="330" />
                                <b>Mi quebranto personal</b>
                                <br />
                                Describirse
                                <br />

                            </p>

                        </div>
                    </div>
                </div>


                    @*ESPACIO PARA LEANDRO*@



            </div>




            </div>


                    









                
            </div>
    </div>


