
@{
    ViewBag.Title = "Nosotros";
}

<h2>Nosotros somos amigues hace 4 años</h2>



    <div class="container">

        <div class="row ">
            <div class="text-center g-pad-bottom">



                <div class="row go-marg">
                    <div class="col-md-4 col-sm-4">
                        <div class="panel panel-default">

                            <div class="panel-body">
                                <h4 class="adjst" align="center"> <b> Maria Cuenca </b> </h4>
                                <p>
                                    <img src="~/Content/img/Bios/Mari.PNG"  width="230" class="img-rounded" /><br />
                                    <b>Alias Mari Mari</b>
                                    <br />
                                    Edad:  23 años 
                                    Santa Elena - Cordillera
                                    Actualmente vive en San Lorenzo
                                    estudiante del 4to año de Ingenieria en Informatica
                                    Octavo semestre 
                                    Hovi: 
                                    Cantar 
                                    Cocinar
                                    Enseñar Matematicas, Físicas
                                    Programar no es su pasion pero aprende.
                                    <br />
                                 
                                </p>

                            </div>
                        </div>
                    </div>



                    <div class="col-md-4 col-sm-4">
                        <div class="panel panel-default">

                            <div class="panel-body">
                                <h4 class="adjst" align="center"> <b> Patricia Mabel Lezcano Núñez </b> </h4>
                                <p>
                                    <img src="~/Content/img/Bios/Mabe.jpg"  width="310" class="img-rounded" />
                                   
                                    <br />
                                    Edad:  22 años           
                                    Reside en a ciudad de Capiata
                                    Estudiante del 4to año de Ingenieria en Informatica
                                    Octavo semestre
                                    Hovi:
                                    Dibujar
                                    Leer
                                    Ver series
                                    Jugar VideoJuegos
                                    <br />

                                </p>

                            </div>
                        </div>
                    </div>




                    <div class="col-md-4 col-sm-4">
                        <div class="panel panel-default">

                            <div class="panel-body">
                                <h4 class="adjst" align="center"> <b>Edgar Gonzalez </b> </h4>
                                <p>
                                    <img src="~/Content/img/Bios/e.jpg" class="img-rounded"  width="290" />

                                  
                                    <br />
                                    Edad:  24 años
                                    Reside en a ciudad de San Lorenzo
                                    Estudiante del 4to año de Ingenieria en Informatica
                                    Octavo semestre
                                    Hovi:
                                   Jugar deportes
                                    Me gusta diseñar
                                    <br />

                                </p>

                            </div>
                        </div>
                    </div>
                </div>


                <div  class="row go-marg" align="center">
                    <div class="col-md-4 col-sm-4">
                        <div class="panel panel-default">

                            <div class="panel-body">
                                <h4 class="adjst" align="center"> <b> Angel Aquino </b> </h4>
                                <p>
                                    <img src="~/Content/img/Bios/Angel.jpeg"  width="330" class="img-rounded" />
                                    <b>Aqui la bio</b>
                                    <br />
                                    Edad:  21 años
                                    Reside en a ciudad de Ñemby - San Antonio
                                    Estudiante del 4to año de Ingenieria en Informatica
                                    Octavo semestre
                                    Hovi:
                                   Compartir con amigos 
                                   Jugar Play 
                                   Comer

                                    <br />

                                </p>

                            </div>
                        </div>
                    </div>


                    <div class="col-md-4 col-sm-4">
                        <div class="panel panel-default">

                            <div class="panel-body">
                                <h4 class="adjst" align="center"> <b>Leandro Portillo </b> </h4>
                                <p>
                                    <img src="~/Content/img/Bios/Lean.jpeg"  width="330" class="img-rounded" />
                                    <b>Aqui la bio</b>
                                    <br />
                                    Edad:  22 años
                                    Reside en a Argentina Buenos Aires
                                    Estudiante del 4to año de Ingenieria en Informatica
                                    Octavo semestre
                                    Hovi:
                                    Jugar al Futboll
                                    Escuchar Musica 
                                    <br />

                                </p>

                            </div>
                        </div>
                    </div>
                </div>


            </div>




            </div>


                    









                
            </div>
    </div>


