
@{
    ViewBag.Title = "Nosotros";
}

<h2 align="center">Nosotros somos amigues hace 4 años</h2>



<div class="container">
    <div class="row ">
        <div class="text-center g-pad-bottom">



            <div class="row go-marg">
                <div class="col-md-4 col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h4 class="adjst" align="center"> <b> Maria Cuenca </b> </h4>
                            <p>
                                <img src="~/Content/img/Bios/Mari.PNG" width="230" class="img-rounded" /><br />
                                <br />Edad:  23 años
                                <br /> de Santa Elena - Cordillera
                                <br /> Actualmente vive en San Lorenzo
                                <br />estudiante del 4to año de Ingenieria en Informatica
                                Octavo semestre
                                <br />Hobbies:
                                Cantar ,
                                Cocinar ,
                                Enseñar Matematicas, Físicas,
                                Programar no es su pasion pero aprende.
                                <br />

                            </p>

                        </div>
                    </div>
                </div>



                <div class="col-md-4 col-sm-4">
                    <div class="panel panel-default">

                        <div class="panel-body">
                            <h4 class="adjst" align="center"> <b> Patricia Lezcano </b> </h4>
                            <p>
                                <img src="~/Content/img/Bios/Mabe.jpg" width="310" class="img-rounded" />
                                <br /> Edad:  22 años
                                <br />Reside en a ciudad de Capiata
                                <br />Estudiante del 4to año de Ingenieria en Informatica
                                Octavo semestre
                                <br /> Hobbies:
                                Dibujar,
                                Leer,
                                Ver series,
                                Jugar VideoJuegos
                                <br />

                            </p>

                        </div>
                    </div>
                </div>




                <div class="col-md-4 col-sm-4">
                    <div class="panel panel-default">

                        <div class="panel-body">
                            <h4 class="adjst" align="center"> <b>Edgar Gonzalez </b> </h4>
                            <p>
                                <img src="~/Content/img/Bios/e.jpg" class="img-rounded" width="290" />
                                <br /> Edad:  24 años
                                <br /> Reside en a ciudad de San Lorenzo
                                <br /> Estudiante del 4to año de Ingenieria en Informatica
                                <br /> Octavo semestre
                                <br /> Hobbies:
                                Jugar deportes,
                                Le gusta diseñar
                                <br />

                            </p>

                        </div>
                    </div>
                </div>
            </div>


            <div class="row go-marg" align="center">
                <div class="col-md-4 col-sm-4">
                    <div class="panel panel-default">

                        <div class="panel-body">
                            <h4 class="adjst" align="center"> <b> Angel Aquino </b> </h4>
                            <p>
                                <img src="~/Content/img/Bios/Angel.jpeg" width="330" class="img-rounded" />
                                <br /> Edad:  21 años
                                <br />Reside en a ciudad de Ñemby - San Antonio
                                <br /> Estudiante del 4to año de Ingenieria en Informatica
                                Octavo semestre
                                <br />Hobbies:
                                Compartir con amigos,
                                Jugar Play,
                                Comer
                                <br />

                            </p>

                        </div>
                    </div>
                </div>


                <div class="col-md-4 col-sm-4">
                    <div class="panel panel-default">

                        <div class="panel-body">
                            <h4 class="adjst" align="center"> <b>Leandro Portillo </b> </h4>
                            <p>
                                <img src="~/Content/img/Bios/Lean.jpeg" width="330" class="img-rounded" />
                                <br />Edad:  22 años
                                <br />Reside en a Argentina - Buenos Aires
                                <br />Estudiante del 4to año de Ingenieria en Informatica
                                Octavo semestre
                                <br /> Hobbies:
                                Jugar al Futboll,
                                Escuchar Musica
                                <br />

                            </p>

                        </div>
                    </div>
                </div>
            </div>


        </div>




    </div>


</div>
  

