
@{
    ViewBag.Title = "Nosotros";
}

<h2>Nosotros</h2>

<h2>Hola</h2>



<div class="row go-marg">
    <div class="col-md-4 col-sm-4">
        <div class="panel panel-default">

            <div class="panel-body">
                <h4 class="adjst" align="center"> Habitación Individual </h4>
                <p>
                    <img src="~/Content/img/Habitaciones/habi10.jpg" height="300" width="330" />
                    <b>Esta habitación doble cuenta con aire acondicionado.</b>
                    <br />
                    Equipamiento de la habitación:
                    <br />
                    - Aire acondicionado
                </p>

            </div>
        </div>
    </div>
</div>